<div class="jumbotron">
    <h1 class="display-4">Ryan's CSV Camper Importer</h1>
    <p class="lead">This simple Angular based web application uses Angular, Typescript, Bootstrap, and Angular Material.  A user can import a camper CSV to load camper objects into the table below.</p>
    <hr class="my-4">
    <p>Get started using the application by importing campers now...</p>
    <p class="lead">
      <input class="d-none" id="input-file-id" (change)="changeListener($event)" type="file" />
      <label for="input-file-id" class="btn btn-primary">Import Campers</label>
    </p>
</div>