
<div class="filter-container mat-elevation-z8">
  <div class="filter-header">
    <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter Campers...">
  </div>
</div>

<table mat-table  [dataSource]="dataSource" matSort class="table mat-elevation-z8" >
  <ng-container matColumnDef="make">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Camper Make</th>
    <td mat-cell *matCellDef="let camper"> {{camper.make}} </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Camper Brand</th>
    <td mat-cell *matCellDef="let camper"> {{camper.brand}} </td>
  </ng-container>
  <ng-container matColumnDef="sleeps">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sleeps</th>
    <td mat-cell *matCellDef="let camper"> {{camper.capacity | number}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let camper"> {{camper.price | currency}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No campers to show.  Try clearing your filter or importing new ones! </td>
  </tr>
</table>


