
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F0F9F2;}

.mat-sort-header-content { 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }